	 
	*{
		margin:0;
		padding:0;
		box-sizing:border-box;
	}
	@font-face{
		font-family:roboto;
		src:url("../fonts/RobotoMono-ExtraLight.ttf");
	}	
	.container{
		width:100%;
		display:flex;
		align-items:center;
		background-color:rgba(203, 197, 197, 0.13);
		justify-content:center;
	
	}
	.box{
		font-family:roboto;
		text-align:center;
		border-radius:5px;
		background-color:white;
		line-height:1.6;
		padding:40px;
		box-shadow:2px 2px 30px rgba(203, 197, 197, 0.33);
		
	}
	.button{
		padding:10px 35px;
		margin-top:15px;
		border:1px solid white;
		border-radius:5px;
	}
	.first{
		width:330px;
		padding:15px;
	}
	.blue{
		border:1px solid DodgerBlue;
		background-color:white;
	}
    p  > span{
		font-size:30px;
		font-color:dogerblue !important;
	}
	.one{
		color:rgba(26, 7, 200, 1);
	}
	.two{
		background-color:DodgerBlue;
		color:white;
	}